<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="add-conteiner">
        <input id="brand" type="text" placeholder="Brand" value="brand"><br><br>
        <input id="purpose" type="text" placeholder="Purpose" value="purpose"><br><br>
        <input id="origin" type="text" placeholder="Origin" value="origin"><br><br> 
        <input id="in-stock" type="text" placeholder="In Stock" value="in stock"><br><br>
        <input id="price" type="text" placeholder="Price" value="price"><br><br>
        <input id="btn1" type="button" value="Add" onclick="location='/store'">
        <input id="btn2" type="button" value="Cancel" onclick="location='#'">
    </div>
</body>
</html>