<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="sinin">
        <h1 id="h">Register</h1>
        <input type="text" name="username" placeholder="Username" value=""><br><br>
        <input type="email" name="email" placeholder="mail" value=""><br><br>
        <input type="password" name="password" placeholder="Password" value=""><br><br>
        <input type="password" name="confirm" placeholder="Confirm password" value=""><br><br>
        <input type="date" name="date" value=""><br><br>
        
       <select id="select" value="<%= user.select %>"> 
        
        <% let rows = '[{"text": "Georgia", "city": "Tbilisi"}]';
          let text = ''; %>
            
          <% for(let i = 0; i < rows.length; i++){ %>
                text += <option id="opt" name="" value="<%= rows[i] %> "><%=rows%></option> 

                  
      <%  }  %>
       </select><br><br>


      
        <input id="btn" type="button" value="Submit" onclick="location='#'">
        <input id="btn" type="button" value="Calcel" onclick="location='/login'">

    </div>
</body>
</html>